h1{color:blue;font-weight:bold;}
h2{color:blue;font-size:80px;}
h3{color:orange;font-size:80px;}
h4{color:yellow;font-size:80px}
h5{color:brown;font-size:80px;}
h1{}
p1{color:green;margin-left:10px}
p2{color:red;}
